@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 600; */
}

.back-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

body{
   background-size: cover;
   background-position: center;
   

}
.container {
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5));
   
  }

.main_heading{
    /* margin-top: 3%; */
}

div h1{
    padding-top: 2%;
    font-size: 35px;
    color: #fff;
    text-align: center;
}

.book_details{
    font-size: 20px;
    font-weight: 600;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 40px;
    color: #fff;
}

.form-div{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left:150px;
    background-color:rgba(0, 0, 0, 0.559);
    width:80%;
    border-radius:30px;
}



.book_name{
    margin-left: 1%;
    font-size: 15px;
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
}

.book_author{
    margin-left: 1%;
    font-size: 15px;
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
}

.book_actprice{
    margin-left: 1%;
    font-size: 15px;
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
}

.book_sellprice{
    margin-left: 1%;
    font-size: 15px;
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
}

.book_cond{
    margin-left: 1%;
    font-size: 15px;
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
}

.book_desc{
    margin-left: 1%;
    font-size: 15px;
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
}

.book_btn{
    height: 60px;
    text-align: center;
    margin-left: -0.25%;
    /* padding-top: 5px; */
    padding: 10px 20px 10px 18px;
    border: 2px solid white;
    border-radius: 10px;
}

.book_name:focus, .book_author:focus, .book_actprice:focus, .book_sellprice:focus, .book_cond:focus, .book_desc:focus, .book_btn:focus{
    outline: none;
    border: 2px solid #030bf9;
}

.book_name:hover, .book_author:hover, .book_actprice:hover, .book_sellprice:hover, .book_cond:hover, .book_desc:hover, .book_btn:hover, .image-container img:hover{
    border: 2px solid #030bf9;
    box-shadow: 0 0 20px 0 rgba(4, 9, 30, 0.3);
}

/* .image-container{
    width: 90%;
    margin: 0 auto 30px auto;
} */
.image-container img{
    margin-top: .5%;
    margin-bottom: .5%;
    max-width: 500%;
    max-height: 400px;
    /* padding: 5px 5px 5px 5px; */
    /* border: 2px solid black; */
    border-radius: 10px;
}
figcaption{
    /* margin: 20px 0 30px 0; */
    text-align: center;
    color: #2a292a;
    width: 20%;
}
input[type="file"]{
    display: none;
}
label{
    display: inline;
    /* position: relative; */
    color: white;
    font-size: 18px;
    width: 300px;
    /* padding: 18px 0; */
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn{
    width: 100%;
    font-size: 20px;
    font-weight: 1000;
    margin-left: 4.5%;
    color:white;
    /* padding-top: 5px; */
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    transition:background-color 0.3s;
    margin-bottom:20px;
}

.submit-btn:hover{
    color: black;
    background-color:white;
    border: 2px solid white ;
    box-shadow: 0 0 20px 0 rgba(4, 9, 30, 0.3);
   
    border-radius: 10px;
}

.footer{
    background-color: black;
  }
  .row{
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  
  ul{
  list-style: none;
  }
  .footer-col{
     width: 25%;
     padding: 50px 15px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      /* margin-bottom: 30px; */
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

/* Animations */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}